export MUKOYAMA_URL=https://mukoyama.lmlab.net:443
export MUKOYAMA_ID=XX
export MUKOYAMA_TOKEN=XXXXXXXXXXXX
export MOTION_HOME=/home/pi/motion_for_mukoyama
export MOTION_TARGET_DIR=/var/lib/motion
export MOTION_THRESHOLD=1500
export MOTION_STREAM_LOCALHOST=on
